// Abstracts
@use '../abstracts/' as *;

/* ====== */
/* Resets */
/* ====== */

// Google Fonts Import
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

html {
    box-sizing: border-box;
    /* Font family */
    font-family: $font-name, $font-serif;
    /* To make rem units easier to work with (1rem = 10px) */
    font-size: 62.5%;
    /* Scrollbar Styling : Firefox */
    scrollbar-width: thin;
    scrollbar-color: ss-var($colors, "primary", "blue") ss-var($colors, "secondary", "darkblue");
}
/* Scrollbar Styling for Webkit browsers */
::-webkit-scrollbar {
    width: 2rem;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--theme-text-color);
    border-radius: 10px;
    border: 5px solid var(--theme-body-bg);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--theme-title-color);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

/* Uncomment if custom outline is planned for each element needed */
/* :focus {
     outline: none;
}*/

/* Links decoration */
a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

/* Remove default list styling */
ul,
ol {
    list-style: none;
}

body {
    min-height: 100vh;
    // text-rendering: optimizeSpeed;
    // line-height: 1.5;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

p {
    line-height: 1.4;
}